<settings>
<!-- 
	<setting propertyKey="@Properties.pDeviceID" title="@Strings.pDeviceIDT" prompt="@Strings.pDeviceIDP">
		<settingConfig type="alphaNumeric"  />
	</setting>	
-->
<!-- 
		<setting propertyKey="@Properties.pAuthID" title="@Strings.pAuthIDT" prompt="@Strings.pAuthIDP">
		<settingConfig type="alphaNumeric"  />
	</setting>
	
	<setting propertyKey="@Properties.pAuxHRAntID" title="@Strings.pAuxHRAntIDT" prompt="@Strings.pAuxHRAntIDP">
		<settingConfig type="numeric"  />
	</setting>
-->		
	<setting propertyKey="@Properties.pFitWriteEnabled" title="@Strings.mFitWrET" prompt="@Strings.mFitWrEP">
		<settingConfig type="boolean" />
	</setting>	
<!-- 
	<setting propertyKey="@Properties.pSensorSelect" title="@Strings.pSensorSelectT" prompt="@Strings.pSensorSelectP">
		<settingConfig type="boolean" />
	</setting>	
-->
	<setting propertyKey="@Properties.pScale" title="@Strings.pScaleT" prompt="@Strings.pScaleP">
		<settingConfig type="boolean" />
	</setting>	
	<setting propertyKey="@Properties.soundSet" title="@Strings.soundSetT" prompt="@Strings.soundSetP">
		<settingConfig type="boolean" />
	</setting>	
	<setting propertyKey="@Properties.vibeSet" title="@Strings.vibeSetT" prompt="@Strings.vibeSetP">
		<settingConfig type="boolean" />
	</setting>	
	<setting propertyKey="@Properties.testTypeSet" title="@Strings.testTypeSetT" prompt="@Strings.testTypeSetP">
		<settingConfig type="boolean" />
	</setting>		
	<setting propertyKey="@Properties.timerTimeSet" title="@Strings.timerTimeSetT" prompt="@Strings.timerTimeSetP">
		<settingConfig type="numeric" min="0" max="360" errorMessage="@Strings.TimeTooLargeError" />
	</setting>	
	<setting propertyKey="@Properties.ManualTimeSet" title="@Strings.ManualTimeSetT" prompt="@Strings.timerTimeSetP">
		<settingConfig type="numeric" min="0" max="360" errorMessage="@Strings.TimeTooLargeError" />
	</setting>	
	<!-- pNumberBeatsGraph maximum is set in constants file as AX_NUMBERBEATSGRAPH  -->			
	<setting propertyKey="@Properties.pNumberBeatsGraph" title="@Strings.lnumberBeatsGraph" prompt="@Strings.lnumberBeatsGraphP">
		<settingConfig type="numeric" min="2" max="10" errorMessage="@Strings.lnumberBeatsGraphP" />
	</setting>
	<setting propertyKey="@Properties.bgColSet" title="@Strings.bgColSetT" prompt="@Strings.bgColSetP">
		<settingConfig type="list" >
			<listEntry value="0">@Strings.WHITE</listEntry>
			<listEntry value="1">@Strings.LT_GRAY</listEntry>
			<listEntry value="2">@Strings.DK_GRAY</listEntry>
			<listEntry value="3">@Strings.BLACK</listEntry>
			<listEntry value="4">@Strings.RED</listEntry>
			<listEntry value="5">@Strings.DK_RED</listEntry>
			<listEntry value="6">@Strings.ORANGE</listEntry>
			<listEntry value="7">@Strings.YELLOW</listEntry>
			<listEntry value="8">@Strings.GREEN</listEntry>
			<listEntry value="9">@Strings.DK_GREEN</listEntry>
			<listEntry value="10">@Strings.BLUE</listEntry>
			<listEntry value="11">@Strings.DK_BLUE</listEntry>
			<listEntry value="12">@Strings.PURPLE</listEntry>
			<listEntry value="13">@Strings.PINK</listEntry>		
		</settingConfig>	
	</setting>		
	<setting propertyKey="@Properties.lblColSet" title="@Strings.lblColSetT" prompt="@Strings.LCSP">
		<settingConfig type="list" >
			<listEntry value="0">@Strings.WHITE</listEntry>
			<listEntry value="1">@Strings.LT_GRAY</listEntry>
			<listEntry value="2">@Strings.DK_GRAY</listEntry>
			<listEntry value="3">@Strings.BLACK</listEntry>
			<listEntry value="4">@Strings.RED</listEntry>
			<listEntry value="5">@Strings.DK_RED</listEntry>
			<listEntry value="6">@Strings.ORANGE</listEntry>
			<listEntry value="7">@Strings.YELLOW</listEntry>
			<listEntry value="8">@Strings.GREEN</listEntry>
			<listEntry value="9">@Strings.DK_GREEN</listEntry>
			<listEntry value="10">@Strings.BLUE</listEntry>
			<listEntry value="11">@Strings.DK_BLUE</listEntry>
			<listEntry value="12">@Strings.PURPLE</listEntry>
			<listEntry value="13">@Strings.PINK</listEntry>	
		</settingConfig>			
	</setting>
	<setting propertyKey="@Properties.txtColSet" title="@Strings.txtColSetT" prompt="@Strings.txtColSetP">
		<settingConfig type="list" >
			<listEntry value="0">@Strings.WHITE</listEntry>
			<listEntry value="1">@Strings.LT_GRAY</listEntry>
			<listEntry value="2">@Strings.DK_GRAY</listEntry>
			<listEntry value="3">@Strings.BLACK</listEntry>
			<listEntry value="4">@Strings.RED</listEntry>
			<listEntry value="5">@Strings.DK_RED</listEntry>
			<listEntry value="6">@Strings.ORANGE</listEntry>
			<listEntry value="7">@Strings.YELLOW</listEntry>
			<listEntry value="8">@Strings.GREEN</listEntry>
			<listEntry value="9">@Strings.DK_GREEN</listEntry>
			<listEntry value="10">@Strings.BLUE</listEntry>
			<listEntry value="11">@Strings.DK_BLUE</listEntry>
			<listEntry value="12">@Strings.PURPLE</listEntry>
			<listEntry value="13">@Strings.PINK</listEntry>	
		</settingConfig>					
	</setting>
	<setting propertyKey="@Properties.pHistLabel1" title="@Strings.LHT1" prompt="@Strings.LHTP">
		<settingConfig type="list">
			<!--  the values MUST match the CONST definition for dictionary -->
			<listEntry value="0">@Strings.lHistoryNull</listEntry>
			<listEntry value="1">@Strings.lHeartRate</listEntry>
			<listEntry value="2">@Strings.lMinInterval</listEntry>
			<listEntry value="3">@Strings.lMaxInterval</listEntry>
			<listEntry value="4">@Strings.lMinDiff</listEntry>
			<listEntry value="5">@Strings.lMaxDiff</listEntry>		
			<listEntry value="6">@Strings.lRMSSD</listEntry>
			<listEntry value="7">@Strings.lLnRMSSD</listEntry>
			<listEntry value="8">@Strings.lSDNN</listEntry>
			<listEntry value="9">@Strings.lSDSD</listEntry>
			<listEntry value="10">@Strings.lNN50</listEntry>
			<listEntry value="11">@Strings.lpNN50</listEntry>
			<listEntry value="12">@Strings.lNN20</listEntry>
			<listEntry value="13">@Strings.lpNN20</listEntry>
		</settingConfig>					
	</setting>
	<setting propertyKey="@Properties.Label1ColSet" title="@Strings.LCST1" prompt="@Strings.LCSP">
		<settingConfig type="list" >
			<listEntry value="0">@Strings.WHITE</listEntry>
			<listEntry value="1">@Strings.LT_GRAY</listEntry>
			<listEntry value="2">@Strings.DK_GRAY</listEntry>
			<listEntry value="3">@Strings.BLACK</listEntry>
			<listEntry value="4">@Strings.RED</listEntry>
			<listEntry value="5">@Strings.DK_RED</listEntry>
			<listEntry value="6">@Strings.ORANGE</listEntry>
			<listEntry value="7">@Strings.YELLOW</listEntry>
			<listEntry value="8">@Strings.GREEN</listEntry>
			<listEntry value="9">@Strings.DK_GREEN</listEntry>
			<listEntry value="10">@Strings.BLUE</listEntry>
			<listEntry value="11">@Strings.DK_BLUE</listEntry>
			<listEntry value="12">@Strings.PURPLE</listEntry>
			<listEntry value="13">@Strings.PINK</listEntry>	
		</settingConfig>		
	</setting>
	<setting propertyKey="@Properties.pHistLabel2" title="@Strings.LHT2" prompt="@Strings.LHTP">
		<settingConfig type="list">
			<!--  the values MUST match the CONST definition for dictionary -->
			<listEntry value="0">@Strings.lHistoryNull</listEntry>
			<listEntry value="1">@Strings.lHeartRate</listEntry>
			<listEntry value="2">@Strings.lMinInterval</listEntry>
			<listEntry value="3">@Strings.lMaxInterval</listEntry>
			<listEntry value="4">@Strings.lMinDiff</listEntry>
			<listEntry value="5">@Strings.lMaxDiff</listEntry>		
			<listEntry value="6">@Strings.lRMSSD</listEntry>
			<listEntry value="7">@Strings.lLnRMSSD</listEntry>
			<listEntry value="8">@Strings.lSDNN</listEntry>
			<listEntry value="9">@Strings.lSDSD</listEntry>
			<listEntry value="10">@Strings.lNN50</listEntry>
			<listEntry value="11">@Strings.lpNN50</listEntry>
			<listEntry value="12">@Strings.lNN20</listEntry>
			<listEntry value="13">@Strings.lpNN20</listEntry>
		</settingConfig>					
	</setting>
	<setting propertyKey="@Properties.Label2ColSet" title="@Strings.LCST2" prompt="@Strings.LCSP">
		<settingConfig type="list" >
			<listEntry value="0">@Strings.WHITE</listEntry>
			<listEntry value="1">@Strings.LT_GRAY</listEntry>
			<listEntry value="2">@Strings.DK_GRAY</listEntry>
			<listEntry value="3">@Strings.BLACK</listEntry>
			<listEntry value="4">@Strings.RED</listEntry>
			<listEntry value="5">@Strings.DK_RED</listEntry>
			<listEntry value="6">@Strings.ORANGE</listEntry>
			<listEntry value="7">@Strings.YELLOW</listEntry>
			<listEntry value="8">@Strings.GREEN</listEntry>
			<listEntry value="9">@Strings.DK_GREEN</listEntry>
			<listEntry value="10">@Strings.BLUE</listEntry>
			<listEntry value="11">@Strings.DK_BLUE</listEntry>
			<listEntry value="12">@Strings.PURPLE</listEntry>
			<listEntry value="13">@Strings.PINK</listEntry>	
		</settingConfig>				
	</setting>
	<setting propertyKey="@Properties.pHistLabel3" title="@Strings.LHT3" prompt="@Strings.LHTP">
		<settingConfig type="list">
			<!--  the values MUST match the CONST definition for dictionary -->
			<listEntry value="0">@Strings.lHistoryNull</listEntry>
			<listEntry value="1">@Strings.lHeartRate</listEntry>
			<listEntry value="2">@Strings.lMinInterval</listEntry>
			<listEntry value="3">@Strings.lMaxInterval</listEntry>
			<listEntry value="4">@Strings.lMinDiff</listEntry>
			<listEntry value="5">@Strings.lMaxDiff</listEntry>		
			<listEntry value="6">@Strings.lRMSSD</listEntry>
			<listEntry value="7">@Strings.lLnRMSSD</listEntry>
			<listEntry value="8">@Strings.lSDNN</listEntry>
			<listEntry value="9">@Strings.lSDSD</listEntry>
			<listEntry value="10">@Strings.lNN50</listEntry>
			<listEntry value="11">@Strings.lpNN50</listEntry>
			<listEntry value="12">@Strings.lNN20</listEntry>
			<listEntry value="13">@Strings.lpNN20</listEntry>
		</settingConfig>					
	</setting>
	<setting propertyKey="@Properties.Label3ColSet" title="@Strings.LCST3" prompt="@Strings.LCSP">
		<settingConfig type="list" >
			<listEntry value="0">@Strings.WHITE</listEntry>
			<listEntry value="1">@Strings.LT_GRAY</listEntry>
			<listEntry value="2">@Strings.DK_GRAY</listEntry>
			<listEntry value="3">@Strings.BLACK</listEntry>
			<listEntry value="4">@Strings.RED</listEntry>
			<listEntry value="5">@Strings.DK_RED</listEntry>
			<listEntry value="6">@Strings.ORANGE</listEntry>
			<listEntry value="7">@Strings.YELLOW</listEntry>
			<listEntry value="8">@Strings.GREEN</listEntry>
			<listEntry value="9">@Strings.DK_GREEN</listEntry>
			<listEntry value="10">@Strings.BLUE</listEntry>
			<listEntry value="11">@Strings.DK_BLUE</listEntry>
			<listEntry value="12">@Strings.PURPLE</listEntry>
			<listEntry value="13">@Strings.PINK</listEntry>	
		</settingConfig>					
	</setting>
	
<!--
	<setting propertyKey="@Properties.pLongThresholdIndex" title="@Strings.LongThresholdtT" prompt="@Strings.ThresholdP">
		<settingConfig type="list" >
			<listEntry value="0">@Strings.VTIGHT</listEntry>
			<listEntry value="1">@Strings.TIGHT</listEntry>
			<listEntry value="2">@Strings.NOMINAL</listEntry>
			<listEntry value="3">@Strings.LOOSE</listEntry>
			<listEntry value="4">@Strings.VLOOSE</listEntry>
		</settingConfig>					
	</setting>
	<setting propertyKey="@Properties.pShortThresholdIndex" title="@Strings.ShortThresholdtT" prompt="@Strings.ThresholdP">
		<settingConfig type="list" >
			<listEntry value="0">@Strings.VTIGHT</listEntry>
			<listEntry value="1">@Strings.TIGHT</listEntry>
			<listEntry value="2">@Strings.NOMINAL</listEntry>
			<listEntry value="3">@Strings.LOOSE</listEntry>
			<listEntry value="4">@Strings.VLOOSE</listEntry>
		</settingConfig>
	</setting>	
-->					

	<setting propertyKey="@Properties.pLongThresholdIndex" title="@Strings.LongThresholdT" prompt="@Strings.ThresholdP">	
		<settingConfig type="numeric" min="1" max="40" errorMessage="@Strings.ThresholdErrorT" />
	</setting>	
	<setting propertyKey="@Properties.pShortThresholdIndex" title="@Strings.ShortThresholdT" prompt="@Strings.ThresholdP">	
		<settingConfig type="numeric" min="1" max="40" errorMessage="@Strings.ThresholdErrorT" />
	</setting>	
	<setting propertyKey="@Properties.pLogScale" title="@Strings.LogT" prompt="@Strings.LogP">	
		<settingConfig type="numeric" min="1.0" max="1000.0" errorMessage="@Strings.LogErrorT" />
	</setting>
	<setting propertyKey="@Properties.prMSSD" title="@Strings.rT" prompt="@Strings.rP">
		<settingConfig type="boolean" />
	</setting>			

<!-- 
	<setting propertyKey="@Properties.pPaypalRef" title="@Strings.PayURLT">
		<settingConfig type="url"  readonly="true" />	
	</setting>
-->
</settings>
