<resources>
	<string id="Timestamp">1447234278</string><!-- v 1.1.6 -->  
    <string id="AppName">HRV Analysis</string>
    <string id="Version">0.1.1</string>
    
    <string id="FitFileWrite">0</string>
    <string id="Sound">1</string>
    <string id="Vibe">1</string>
    <string id="TestType">0</string>
    <string id="TimerTime">300</string>
    <string id="ManualTime">300</string>
    <string id="MaxTimerTime">300</string>
    <string id="BgCol">3</string>
    <string id="LblCol">10</string>
    <string id="TxtCol">13</string>
    <string id="HrvCol">10</string>
    <string id="AvgHrvCol">12</string>
    <string id="PulseCol">13</string>
    <string id="AvgPulseCol">6</string>
    
    <string id="inhaleTime">4</string>
    <string id="exhaleTime">4</string>
    <string id="relaxTime">2</string>

</resources>
